<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HospitalManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HospitalManagementSystem.Properties.Settings>
            <setting name="NurseUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DoctorUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="PatientSSN" serializeAs="String">
                <value />
            </setting>
            <setting name="AccounType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Lan" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="LoginWelcome" serializeAs="String">
                <value>WELCOME TO HOSPITAL MANAGEMENT SYSTEM
PLEASE LOGIN TO CONTINUE</value>
            </setting>
            <setting name="LoginAccountType" serializeAs="String">
                <value>ACCOUNT TYPE</value>
            </setting>
            <setting name="LoginPassword" serializeAs="String">
                <value>PASSWORD</value>
            </setting>
            <setting name="LoginUsername" serializeAs="String">
                <value>USERNAME</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>Login</value>
            </setting>
            <setting name="Doctors" serializeAs="String">
                <value>Doctors</value>
            </setting>
            <setting name="Patients" serializeAs="String">
                <value>Patients</value>
            </setting>
            <setting name="Nurses" serializeAs="String">
                <value>Nurses</value>
            </setting>
            <setting name="About" serializeAs="String">
                <value>About</value>
            </setting>
            <setting name="MyAccount" serializeAs="String">
                <value>My Account</value>
            </setting>
            <setting name="PatientSSNClick" serializeAs="String">
                <value>Please double click patient SSN to see and update information.</value>
            </setting>
            <setting name="InspectPatient" serializeAs="String">
                <value>Inspect Patient</value>
            </setting>
            <setting name="UpdatePatientInfo" serializeAs="String">
                <value>Update Patient Info</value>
            </setting>
            <setting name="AddPatient" serializeAs="String">
                <value>Add Patient</value>
            </setting>
            <setting name="MyPatients" serializeAs="String">
                <value>My Patients</value>
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value>First Name</value>
            </setting>
            <setting name="LastName" serializeAs="String">
                <value>Last Name</value>
            </setting>
            <setting name="ComplaintIllness" serializeAs="String">
                <value>Complaint (illness)</value>
            </setting>
            <setting name="Gender" serializeAs="String">
                <value>Gender</value>
            </setting>
            <setting name="Phone" serializeAs="String">
                <value>Phone</value>
            </setting>
            <setting name="AdminRedlbl" serializeAs="String">
                <value>Please double click username cell of row that you would like to see and update information.</value>
            </setting>
            <setting name="AddDoctor" serializeAs="String">
                <value>Add Doctor</value>
            </setting>
            <setting name="AddNurse" serializeAs="String">
                <value>Add Nurse</value>
            </setting>
            <setting name="UpdateDoctorInfo" serializeAs="String">
                <value>Update Doctor Info</value>
            </setting>
            <setting name="AdminPanel" serializeAs="String">
                <value>Admin Panel</value>
            </setting>
            <setting name="UpdateNurseInfo" serializeAs="String">
                <value>Update Nurse Info</value>
            </setting>
            <setting name="LoginInformation" serializeAs="String">
                <value>LOGIN INFORMATION</value>
            </setting>
            <setting name="lblUsername" serializeAs="String">
                <value>Username</value>
            </setting>
            <setting name="lblPassword" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>E-mail</value>
            </setting>
            <setting name="DoctorInformation" serializeAs="String">
                <value>DOCTOR INFORMATION</value>
            </setting>
            <setting name="Department" serializeAs="String">
                <value>Department</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>Address</value>
            </setting>
            <setting name="Cancel" serializeAs="String">
                <value>CANCEL</value>
            </setting>
            <setting name="Add" serializeAs="String">
                <value>ADD</value>
            </setting>
            <setting name="NurseInformation" serializeAs="String">
                <value>NURSE INFORMATION</value>
            </setting>
            <setting name="Birthdate" serializeAs="String">
                <value>Birth date</value>
            </setting>
            <setting name="Birthplace" serializeAs="String">
                <value>Birth place</value>
            </setting>
            <setting name="Fathername" serializeAs="String">
                <value>Father's name</value>
            </setting>
            <setting name="InspectionDate" serializeAs="String">
                <value>Inspection Date</value>
            </setting>
            <setting name="Illness" serializeAs="String">
                <value>Illness</value>
            </setting>
            <setting name="Doctor" serializeAs="String">
                <value>Doctor</value>
            </setting>
            <setting name="AdminPanelText" serializeAs="String">
                <value>THIS IS YOUR ADMIN PANEL. YOU CAN
CHANGE YOUR ACCOUNT DETAILS HERE.</value>
            </setting>
            <setting name="Logout" serializeAs="String">
                <value>LOG OUT</value>
            </setting>
            <setting name="Save" serializeAs="String">
                <value>SAVE</value>
            </setting>
            <setting name="Close" serializeAs="String">
                <value>CLOSE</value>
            </setting>
        </HospitalManagementSystem.Properties.Settings>
    </userSettings>
</configuration>